In [1]:
import pandas as pd
import numpy as np

In [2]:
df_members = pd.read_csv('data/members.csv')

In [3]:
df_songs = pd.read_csv('data/songs.csv')

In [4]:
df_train = pd.read_csv('data/train.csv')

In [5]:
df_songs.head()

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [6]:
df_songs.describe()

        song_length      language
count  2.296320e+06  2.296319e+06
mean   2.469935e+05  3.237800e+01
std    1.609200e+05  2.433241e+01
min    1.850000e+02 -1.000000e+00
25%    1.836000e+05 -1.000000e+00
50%    2.266270e+05  5.200000e+01
75%    2.772690e+05  5.200000e+01
max    1.217385e+07  5.900000e+01

In [7]:
df_songs['genre_ids'].dtype

dtype('O')

In [8]:
df_songs['language'].value_counts()

 52.0    1336694
-1.0      639467
 3.0      106295
 17.0      92518
 24.0      41744
 31.0      39201
 10.0      15482
 45.0      14435
 59.0       8098
 38.0       2385
Name: language, dtype: int64

In [52]:
#df_songs['composer'].value_counts()

In [22]:
len(un_c)

329825

In [26]:
#df_songs['genre_ids'].value_counts()
'''composer_list = []
df_songs = df_songs.fillna('')
un_c = df_songs['composer'].unique()
for composer in un_c:
    print(composer)
    user_composer_list = composer.split('\W+')
    for u_c in user_composer_list:
        if u_c not in composer_list:
            composer_list.append(u_c)'''

"composer_list = []\ndf_songs = df_songs.fillna('')\nun_c = df_songs['composer'].unique()\nfor composer in un_c:\n    print(composer)\n    user_composer_list = composer.split('\\W+')\n    for u_c in user_composer_list:\n        if u_c not in composer_list:\n            composer_list.append(u_c)"

In [ ]:
import numpy as np
np.sum(df_songs['lyricist'].value_counts() == 1)

In [57]:
#df_songs['genre_ids'].value_counts()
df_songs = pd.read_csv('data/songs.csv')
genre_list = []
df_songs = df_songs.fillna('465')
for genre_id in df_songs['genre_ids']:
    user_genre_list = genre_id.split('|')
    for u_g in user_genre_list:
        if u_g not in genre_list:
            genre_list.append(u_g)

In [58]:
user_msno = df_members['msno']

In [59]:
user_list = np.array(user_msno)
genre_list = np.array(genre_list)

In [82]:
nmf_matrix = pd.DataFrame(0,index=np.arange(len(user_list)),columns=genre_list)

In [61]:
nmf_matrix.shape

(34403, 191)

In [56]:
#user_list = list(user_list)
#user_list.index(user_list[56])

56

In [80]:
user_list = list(user_list)
genre_list = list(genre_list)

In [ ]:
df_train = df_train.merge(df_songs,on='song_id')

msno                  hKdGiUKHVqKkXGHLrc+EzdSW6q0ERAJ2Cs7/L1N0Ae4=
song_id               BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=
source_system_tab                                         discover
source_screen_name                                             NaN
source_type                                        online-playlist
target                                                           0
song_length                                                 206471
genre_ids                                                      359
artist_name                                               Bastille
composer                                      Dan Smith| Mark Crew
lyricist                                                       465
language                                                        52
Name: 4, dtype: object

In [84]:
df_train['genre_ids'].fillna('465')
for ind,row in df_train.iterrows():
    user_id = row['msno']
    genre_ids = row['genre_ids']
    genre_ids = genre_ids.split('|')
    user_index = user_list.index(user_id)
    for gen_id in genre_ids:
        nmf_matrix.set_value(user_index,gen_id,1)

KeyboardInterrupt:

In [85]:
nmf_matrix

,465,444,726,864,857,850,843,458,352,1995,...,758,2154,495,2168,324,2163,1579,2002,2175,1970
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34373,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34374,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34376,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34377,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34378,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34379,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34380,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34381,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34382,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34383,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34384,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34385,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34386,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34387,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34388,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34389,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34390,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34391,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34392,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34393,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34394,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34395,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34396,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34397,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34398,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34399,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34400,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34401,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
34402,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
len(df_train['song_id'].unique())

359914

In [ ]:
#I have to replace empty values in the genre

In [89]:
df_test = pd.read_csv('data/test.csv')

In [90]:
test_song_id = df_test['song_id']

In [95]:
train_song_id = df_train['song_id']

In [92]:
len(list(test_song_id))

2556790

In [94]:
len(set(list(test_song_id)))

224753

In [97]:
len(set(list(test_song_id)) & set(list(train_song_id)))

164872

In [98]:
df_test = df_test.merge(df_songs,on='song_id')

In [99]:
train_genre_list = []
#df_songs = df_songs.fillna('465')
for genre_id in df_train['genre_ids']:
    user_genre_list = genre_id.split('|')
    for u_g in user_genre_list:
        if u_g not in train_genre_list:
            train_genre_list.append(u_g)

In [100]:
test_genre_list = []
#df_songs = df_songs.fillna('465')
for genre_id in df_test['genre_ids']:
    user_genre_list = genre_id.split('|')
    for u_g in user_genre_list:
        if u_g not in test_genre_list:
            test_genre_list.append(u_g)

In [102]:
len(set(train_genre_list) & set(test_genre_list))

156

In [105]:
len(set(genre_list) & set(test_genre_list))

162

In [108]:
len(set(genre_list) & set(train_genre_list))

166

In [103]:
len(test_genre_list)

162

In [106]:
len(genre_list)

191

In [107]:
len(train_genre_list)

166

In [104]:
for t_g in test_genre_list:
    if t_g not in train_genre_list:
        print(t_g)

2045
1089
166
765
1061
303

In [28]:
df_members.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [ ]:
df_members['registration_init_time'].dtype

In [ ]:
df_members['registration_init_time'] = df_members['registration_init_time'].astype('str')
df_members['reg_year'] = df_members['registration_init_time'].apply(lambda x: x[0:4]).astype('int64')
df_members['reg_month'] = df_members['registration_init_time'].apply(lambda x: x[4:6]).astype('int64')
df_members['reg_date'] = df_members['registration_init_time'].apply(lambda x: x[6:]).astype('int64')

In [ ]:
df_members['expiration_date'] = df_members['expiration_date'].astype('str')
df_members['exp_year'] = df_members['expiration_date'].apply(lambda x: x[0:4]).astype('int64')
df_members['exp_month'] = df_members['expiration_date'].apply(lambda x: x[4:6]).astype('int64')
df_members['exp_date'] = df_members['expiration_date'].apply(lambda x: x[6:]).astype('int64')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.barplot(x=df_members['reg_month'])

In [ ]:
df_train.head()

In [ ]:
df_members['city'].value_counts()

In [ ]:
df_members['registered_via'].value_counts()

In [ ]:
df_members.shape

In [ ]:
df_members['gender'].value_counts()

In [ ]:
df_members['gender'].isnull().sum()

In [ ]:
df_members['bd'].value_counts()

In [ ]:
df_train['song_id'].value_counts()

In [ ]:
df_train['source_system_tab'].value_counts()

In [ ]:
df_train['source_type'].value_counts()

In [ ]:
df_train.shape

In [ ]:
df_train.head(10)

In [20]:
unique_things =df_train['song_id'].unique()

In [21]:
len(unique_things)

359966